{% extends "grumblr\base.html" %}
{% block content %}
      <div class="container">
          <div class="col-sm-4">
             <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="{% url 'photo' profile.id profile.owner.id%}" alt="{{form.first_name.value}}{{form.last_name.value}}" width="100" height="100">
                </a>
                <div class="media-body">
                    <h4 align="center">{{profile}}</h4>
                    
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a href="#">
                                <span class="badge pull-right">42</span>
                                Grumblrs
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="badge pull-right">100</span>
                                Friends
                            </a>
                        </li>
                        
                    </ul>
                </div>
              </div>
                </div>
              </div>             
              <div class="panel panel-default">
                <div class="panel-heading">Follower list</div>
                    <div class="panel-body">
                        <ul class="list-group">
                          {% for follower in followers %}
                          {% if follower not in blocked %}
                            <li class="list-group-item">
                              
                              <a href = '/grumblr/follower-profile/{{follower.id}}'>
                                <h6>{{follower}}</h6>
                              </a>
                            
                              <img src="{% url 'photo'  42 follower.id %}" alt="..." height="30" width="30"> 


								<span style="float:right">
	                               	<form role="form" method="post" action= "{% url 'blockFollower' follower.id %}">
	                                	<input type="hidden" name = "blocked" class="form-control">
	                                	{% csrf_token %}
	                                	<button type = "submit" class="btn btn-warning" type="button">
	                                      <span class="glyphicon glyphicon-user"></span> Block
	                                    </button>      
	                                </form>
                               </span>
                            </li>
                            {% endif %}
                          {% endfor %}
                            
                        </ul>
                        <button class="btn btn-default">More</button>
                    </div>
                    <div class="panel-heading">Block list</div>
                    <div class="panel-body">
                        <ul class="list-group">
                          {% for user in blocked %}
                            <li class="list-group-item">
                              
                              <a href = '{% url "followerProfile" user.id %}'>
                                <h6>{{user}}</h6>
                              </a>
                            
                              <img src="{% url 'photo'  42 user.id %}" alt="..." height="30" width="30">                                                                          
                            </li>
                          {% endfor %}                     
                        </ul>
                        <button class="btn btn-default">More</button>
                    </div>
                    
                    
                    <div class="panel-heading">All User list</div>
                    <div class="panel-body">
                        <ul class="list-group">
                          {% for user in otherUsers %}
                            <li class="list-group-item">
                              
                              <a href = '{% url "followerProfile" user.id %}'>
                                <h6>{{user}}</h6>
                              </a>
                            
                              <img src="{% url 'photo'  42 user.id %}" alt="..." height="30" width="30"> 

                              
                               <span style="float:right">
	                               	<form role="form" method="post" action= "{% url 'addFollower' user.id %}">
	                                	<input type="hidden" name = "follower" class="form-control">
	                                	{% csrf_token %}
	                                	<button type = "submit" class="btn btn-warning" type="button">
	                                      <span class="glyphicon glyphicon-user"></span> Follow
	                                    </button>      
	                                </form>
                               </span>
								
                                            
                               
                            </li>
                          {% endfor %}
                            
                        </ul>
                        <button class="btn btn-default">More</button>
                    </div>
              </div>

          </div>

          <div class="col-sm-8">

            <br/>
            <br/>
            <div class="panel panel-default" >
                  <div class="panel-heading">
                      <h3 class="panel-title">What's your friends doing?</h3>
                  </div>
                  <div class="panel-body" style="background-color: #ededed">                          
                           <ul class="list-group" id="post-list">
                           	{% for post in posts %}
                           	{% if post.user in followers %}
                           	{% if post.user not in blocked%}
	                          <li class="list-group-item"> 
	                              <div class="panel panel-default">
	                                <div class="panel-body">
	                                    <div class="media">
                                        <a href = '{% url "followerProfile" post.user.id %}'>
                                          <h6>{{post.user}}</h6>
                                        </a>
                                        <p>{{post.date}}</p>
	                                        
	                                        <a class="pull-left" href="#">
	                                            <img class="media-object" src="{% url 'photo'  42 post.user.id %}" alt="..." height="50" width="50" >

	                                        </a>
	                                    <div class="media-body"> 
	                                        <div class="well well">{{post}}
	                                        <span class="badge" style="float: right">{{post.dislikers.all.count}}</span>
	                                        </div>
                                          
                                          <div class="row">
                                            {% if post.picture %}
                                              <div class="col-xs-6 col-md-3">
                                                <a href="{% url 'post_photo' post.id%}" class="thumbnail" style="width: 200px; height: 200p">
                                                  <img src="{% url 'post_photo' post.id%}" alt="...">
                                                </a>
                                              </div>
                                            {% endif %}
                                              
                                            </div> 

	                                        <ul class="list-group" id="comment-list-{{post.id}}">
	                                        	{% for comment in comments %}
	                                        	{% if comment.post == post %}
	                                        	
	                                        		<li class="list-group-item">
	                                        			{{comment}}
	                                        			
	                                        			<span style="float:right">By <a href = '{% url "followerProfile" comment.commenter.id %}'>{{comment.commenter}}</a></span>
	                                 
	                                        		</li>
	                                        		
	                                        	{% endif %}
	                                        	{% endfor %}
	                                        </ul>
	                                        
	                                           <div class="row" style="float:left">
                                                <div class="col-lg-12">
                                                    <div class="input-group">
                                                  <form class="form-inline" role="form" method = "post" action = "{% url 'addComment' post.id post.user.id %}">
                                              <div class="form-group">             
                                                <input type="text" name = "comment" class="form-control" placeholder="Write down your comments ...">
                                                {% csrf_token %}
                                              </div>

                                              <div class="form-group">
                                                <span class="input-group-btn">
                                                              <button type = "submit" class="btn btn-primary">
                                                                  <span class="glyphicon glyphicon-edit"></span> Comment
                                                              </button>                           
                                                          </span>
                                              </div>
                                            </form>
                                                  </div>
                                                </div>
                                            </div>  
                                            <form role="form" method="post" action= "{% url 'dislike' post.id post.user.id %}">
                                            	<input type="hidden" name = "dislike" class="form-control">
                                            	{% csrf_token %}
                                            	<button type = "submit" class="btn btn-warning" type="button">
                                                  <span class="glyphicon glyphicon-thumbs-down"></span> Dislike
                                                </button>      
                                            </form>
	                                    </div>
	                                    </div>  
	                                </div>
	                             </div>
	                     {% endif %}
	                     {% endif %}
                         {% endfor %}
                           	
                           </ul>                  
                  </div>
              </div>
          </div>
      </div>  
{% endblock %}
