<li class="list-group-item"> 
	                              <div class="panel panel-default">
	                                <div class="panel-body">
	                                    <div class="media">
                                        <a href = '{% url "followerProfile" post.user.id %}'>
                                          <h6>user</h6>
                                        </a>
                                        <p>date</p>
	                                   
                                            <a class="pull-left" href="#">
                                              <img class="media-object" src="{% url 'photo' profile.id profile.owner.id%}" alt="..." height="50" width="50">
                                            </a>
	                       
                                            
	                                        
	                                    <div class="media-body"> 
	                                        <div class="well well">grumbleText
	                                        <span class="badge" style="float: right">dislikers.length</span>
	                                        </div>

                                          <div class="row">
                                              <div class="col-xs-6 col-md-3">
                                                <a href="{% url 'post_photo' post.id%}" class="thumbnail" style="width: 200px; height: 200p">
                                                  <img src="{% url 'post_photo' post.id%}" alt="...">
                                                </a>
                                              </div>
                                              
                                            </div> 
                                             
	                                           
	                                           <div class="row" style="float:left">
                                                <div class="col-lg-12">
                                                    <div class="input-group">
                                                  <form class="form-inline" role="form" method = "post" action = "{% url 'addComment' post.id post.user.id %}">
                                              <div class="form-group">             
                                                <input type="text" name = "comment" class="form-control" placeholder="Write down your comments ...">
                                                {% csrf_token %}
                                              </div>

                                              <div class="form-group">
                                                <span class="input-group-btn">
                                                              <button type = "submit" class="btn btn-primary">
                                                                  <span class="glyphicon glyphicon-edit"></span> Comment
                                                              </button>                           
                                                          </span>
                                              </div>
                                            </form>
                                                  </div>
                                                </div>
                                            </div>  
                                            <form role="form" method="post" action= "{% url 'dislike' post.id post.user.id %}">
                                            	<input type="hidden" name = "dislike" class="form-control">
                                            	{% csrf_token %}
                                            	<button type = "submit" class="btn btn-warning" type="button">
                                                  <span class="glyphicon glyphicon-thumbs-down"></span> Dislike
                                                </button>      
                                            </form>
	                                    </div>
	                                    </div>  
	                                </div>
	                             </div>
                             </li>