{% extends "grumblr\base.html" %}

      {% for error in errors %}
			  		<p style="color: red">
					{{ error }}
					</p>
				{% endfor %}
	{% block content %}
      <div class="container">
          <div class="col-sm-4">
             <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="{% url 'photo' profile.id profile.owner.id%}" alt="{{form.first_name.value}}{{form.last_name.value}}" width="100" height="100">
                </a>
                <div class="media-body">
                    <h4 align="center">{{profile}}</h4>
                    
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a class="btn btn-primary" href="{% url 'change_password' %}">
                                Change Password
                            </a>
                        </li>
                    </ul>
                </div>
              </div>
                </div>
              </div>
              

	              <div class="panel panel-default">
	                <div class="panel-heading">Profile</div>
	                    <div class="panel-body">
	                        <ul class="list-group">
	                        	
	                        	
	                            <li class = "list-group-item">{{profile.first_name}}</li>
	                            <li class = "list-group-item">{{profile.last_name}}</li>
	                            <li class = "list-group-item">{{profile.address_1}}</li>
	                            <li class = "list-group-item">{{profile.address_2}}</li>
	                            <li class = "list-group-item">{{profile.city}}</li>
	                            <li class = "list-group-item">{{profile.state}}</li>
	                            <li class = "list-group-item">{{profile.zip}}</li>
								<li class = "list-group-item">{{profile.country}}</li>
								<li class = "list-group-item">{{profile.phone}}</li>
	
	                        </ul>
	                        
	                        <div align="center">
	                        <a href="{% url 'editProfile' profile.id %}"><button type = "button" class = "btn btn-primary">Edit</button>
	                        </a>
	                        </div>
	                    </div>
	                    
	                        
	              </div>

          </div>
          
          
           <div class="col-sm-8">
            <div class="panel panel-default" >
                  <div class="panel-heading">
                      <h3 class="panel-title">My grumblrs</h3>
                  </div>
                  <div class="panel-body" style="background-color: #ededed">
                    {% for post in posts %}
                              <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="media">
                                        <h6>{{post.user}}</h6>
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="{% url 'photo' profile.id profile.owner.id%}" alt="..." height="50" width="50">
                                        </a>
                                        <p>{{post.date}}</p>
                                        <div class="media-body">                    
                                            <div class="well well">{{post}}</div>
                                            <div class="row">
                                            {% if post.picture %}
                                              <div class="col-xs-6 col-md-3">
                                                <a href="{% url 'post_photo' post.id%}" class="thumbnail" style="width: 200px; height: 200p">
                                                  <img src="{% url 'post_photo' post.id%}" alt="...">
                                                </a>
                                              </div>
                                            {% endif %}
                                              
                                            </div> 
                                            <div style="float:right">
                                            <a href="{% url 'deletePost' post.id %}"><button type="button" class="btn btn-danger">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                                  Delete
                                              </button></a>
                                          </div>
                                          <div class="input-group">

                                             <form class="form-inline" role="form" method = "post" action = "{% url 'addComment' post.id post.user.id %}">
                                              <div class="form-group">             
                                                <input type="text" name = "comment" class="form-control" placeholder="Write down your comments ...">
                                                {% csrf_token %}
                                              </div>

                                              <div class="form-group">
                                                <span class="input-group-btn">
                                                              <button type = "submit" class="btn btn-primary">
                                                                  <span class="glyphicon glyphicon-edit"></span> Comment
                                                              </button>                           
                                                          </span>
                                              </div>
                                            </form>
                                           </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                        {% endfor %}
                      
                  </div>
              </div>
          </div>
      </div>
      {% endblock %}
